<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBonjourServices</key>
  <array>
    <string>_kanna-mobile._tcp</string>
    <string>_kanna-xfer._tcp</string>
    <string>_kanna-lan._tcp</string>
  </array>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Tampopo GK. All rights reserved.</string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Kanna uses your local network for mobile access and to discover nearby machines for task transfer.</string>
</dict>
</plist>
